body {
    margin:0px;
}
header {
    background-image: url(images/fancy-pants.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 130px;
}

.logo img {
    width: 70px;
}

.logo {
    width:20%;
    text-align: center;
}

.textlogo {
    color:  white;
    margin: 0%;
    font-size: 30px;
    font-family: 'Pixelify Sans', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-around; 
    font-family: 'Pixelify Sans', sans-serif;
}

.redTitle {
    border-bottom: solid 10px red;
    font-size: 25px;
}

.blueTitle {
    border-bottom: solid 10px blue;
    font-size: 25px;
}

.sith, .rebels {
    color: white;
    padding-bottom: 10px;
}

ul {
    color: white;
    list-style: none;
}

.jedi, .empire {
    color: white;
    padding-bottom: 10px;
}

.wallpaperdogg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./images/WallpaperDog.jpg);
    background-position: center;
    height: 400px;
    border-top: solid 10px white;
    border-bottom: solid 10px white;
}

.personnage img {
    width: 250px;
    background-color: white;
    opacity: 70%;
    border-radius: 20px;
}

.fancy-pants {
    display: flex;
    justify-content: center;
    background-image: url(./images/fancy-pants.jpg);
    background-position: center;
    height:200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 500px;
    padding-right: 500px;
}

.white {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: white;
    padding: 20px;
}

.welcome {
    grid-column: 1/2;
    grid-row: 1/5;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(209, 202, 202); 
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 15px;
}

.welcome>img {
    width: 200px;
}

.lastestworks {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif; ;
}

.ourproducts {
    grid-column: 2/3;
    grid-row: 3/5;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif; 
}

.flexiblepages {
    grid-column: 3/5;
    grid-row: 1/5;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: orange;
}

footer {
    display: flex;
    justify-content: space-around;
    background-image: url(./images/WallpaperDog.jpg);
    background-position: center;
}

.contact {
    color:white
}

.where {
    color: white;   
}

.col-map iframe {
    width: 300px;
    height: 200px;
}

.box {
    box-sizing: border-box;
}

.contactus, .p {
    color: white;
}

form.form-example {
    display: table;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.widget {
    color: white;
}


@media screen and (max-width:767px) 
{
    header {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        

        
    }

    .logo {
        width: 100%;
    }

    .menu  {
        display: flex;  
        
    
    }

    .wallpaperdogg {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;
    }

    .fancy-pants {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .white {
        display: flex;
        flex-direction: column;
        
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
